@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 30px;
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

.link:hover {
    text-decoration: underline;
}
.nave {
    padding: 10px 10px 10px 0;
    text-align: left;
}

.nave > a {
    padding-left: 15px;
    color: #fff;
    text-decoration: none;
}
.nave > a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.349);
    width: 400px;
}

.normal {
    background-color: #fff;
    color: black;
}

.imagem {
    background-color: rgba(26, 24, 24, 0.89);
    color: white;
}


footer {
    background-color: black;
    text-align: center;
    padding: 8px;
}
footer > p {
    color: #fff;
}